.chinese_title{
	color: red;
	font-size: 50px;
}

.like{ 
	font-family: "Source Sans Pro";
	font-size:1.2em;  
	color:#ccc; 
	cursor:pointer;
	border-style: solid;
	border-width: 0.001em;
	border-radius: 5px;
	border-color: white;
	/*margin: 25px 50px 75px 100px;*/
	padding: 7px 60px 7px 60px;

}
.cs{
	color:#ff5a39;
	/*border-color: red;*/
}

#建设1{
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: black;
	padding: 0px 0px 0px 0px;
	width: auto;
	height: auto;
	max-width: 1000%;
	max-height: 1000%;
}

/*.image_box_3{
	width: 100px;
	height: 100px;
}
*/
